@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@model IEnumerable<MoviesHUB.Models.Movie>

@{
    ViewData["Title"] = "Genre";
}

<h1>Index</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Details)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var sspath1 = "~/images/" + (item.path1 ?? "responsive.jpg");
            var sspath2 = "~/images/" + (item.path2 ?? "responsive.jpg");
            var sspath3 = "~/images/" + (item.path3 ?? "responsive.jpg");
            var sspath4 = "~/images/" + (item.path4 ?? "responsive.jpg");

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Details)
                </td>
                <td>
                    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>}
                    |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>}
                </td>
            </tr>
        }
    </tbody>
</table>